{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Scenario DB</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="header">
        <div class="header">
            <div class="logo">
                <h1>Scenario DB</h1>
            </div>
            <div class="navigation">
                <a class="nav-link" href="/search_dialogue/">データの検索</a>
                <a class="nav-link" href="/upload_file/">データ新規登録</a>
            </div>
        </div>
    </section>

    <section class="inner">
        <div class="errormessage">
            <h1>想定外のフォーマットのファイルがアップロードされました。</h1>
            <p>アップロードしたファイルのフォーマットが正しいか(括弧の種類や、記号の抜け漏れなど)、ご確認ください</p>
            <div class="returntop">
                <a class="button" href="/upload_file"> 別のファイルの登録を行う </a>
            </div>
        </div>
    </section>
</body>
</html>